# https://github.com/neo4j/helm-charts/blob/dev/neo4j/values.yaml

neo4j-standalone:

  securityContext:
    runAsNonRoot: true
    runAsUser: 7474
    runAsGroup: 7474
    fsGroup: 7474
    seccompProfile:
      type: RuntimeDefault

  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: ['ALL']

  disableLookups: true
  neo4j:
    resources:
      requests:
        cpu: 1000m
        memory: "2Gi"
      limits:
        cpu: 2000m
        memory: "2Gi"

    # Uncomment to set the initial password
    # password: "my-initial-password"
    passwordFromSecret: "neo4j-v4small-auth"

    # Uncomment to use enterprise edition
    edition: "enterprise"
    acceptLicenseAgreement: "yes"
  config:
    #dbms.connector.bolt.advertised_address: neo4j-pr-23.neo4j-preprod.k8s.dev.linkurious.net:7687
    #dbms.connector.https.advertised_address: neo4j-pr-23.neo4j-preprod.k8s.dev.linkurious.net:443

    # used to workaround lack of config in helm chart
    DATASETS_JSON: |-
      [
        {
          "name": "aml-1.0.0",
          "neo4j_version": "4.2.0"
        },
        {
          "name": "crunchbase-1.0.0",
          "neo4j_version": "4.2.0"
        },
        {
          "name": "fincrime-1.0.0",
          "neo4j_version": "4.2.0"
        }
      ]

  podSpec:
    initContainers:
      - name: git-sync
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ['ALL']
        image: k8s.gcr.io/git-sync/git-sync:v3.5.0
        env:
        - name: GIT_SYNC_REPO
          value: https://github.com/Linkurious/docker-neo4j
        - name: GIT_SYNC_DEST
          value: docker-neo4j
        - name: GIT_SYNC_BRANCH
          value: develop
        - name: GIT_SYNC_ONE_TIME
          value: 'true'
        volumeMounts:
          - name: data
            mountPath: /tmp/git/
      - name: neo4j-restore
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ['ALL']
        # command: ['ls', '-lah', '/data/git-sync/', '&&', '/data/git-sync/docker-neo4j/scripts/dataset-download.sh']
        command: ['/data/docker-neo4j/scripts/dataset-download.sh', '-p', '/data']
        envFrom:
          - secretRef:
              name: neo4j-nexus-dataset-secret # imports NEXUS_TOKEN
        volumeMounts:
          - name: data
            mountPath: /data/
          - name: neo4j-conf
            mountPath: "/config/neo4j.conf"

  volumes:
    data:
      mode: "volume"
      volume:
        emptyDir: {}
  services:
    neo4j:
      spec:
        type: ClusterIP

##### Top level lke chart
nameOverride: "neo4j"
fullnameOverride: ""
hostPostfix: k8s.dev.linkurious.net
ingressRoute:
  enabled: true
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - paths:
        - path: /
          pathType: ImplementationSpecific
      # host: neo4j.k8s.dev.linkurious.net
  tls:
    secretName: wildcard-default-cert
    hosts: []
      # - chart-example.local
